.footerContainer {
    background-color: #b3bad6; 
    color: #000; 
    padding: 20px; 
    display: flex;
    flex-wrap: wrap; 
    text-align: left;
    align-items: center;
    border-radius: 30px;
}

    .spam{
      position:relative;
      top:-7px;
      right: -5px;
    }
    /* Media query for responsiveness */
    @media (max-width: 768px) {
      .services,
      .contact {
        flex: 100%; /* On smaller screens*/
        margin-left: 0;
      }
    }