.shop{
    margin-top: 8%;
    margin-bottom: 5%;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.products > div {
    animation: fadeIn 2s ease-out forwards;
}